<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}">

    {% if site.description %}
    <meta name="description" content="{{ site.description }}">
    {% endif %}
    <title>{{ title or site.title }}</title>

    <link rel="stylesheet" href="/css/css.css"> 
    {% if page.url == '/' %}
        <script>
            if(location.hash) window.location = `/admin/#${location.href.split("#").pop()}`
        </script>
    {% endif %}
</head>
<body>
    <header>
        <h1>{{ homepage.title or site.title }}</h1>

        <h2 class="homepage-subtitle">{{ subtitle }}</h2>

        {% if homepage.homepage_text %}
        <style>
            .homepage-text a {
                color: black;
                text-decoration: none;
            }
            .homepage-text a:hover {
                font-weight: bold;
            }
        </style>
        <div class="homepage-text">
            {{ homepage.homepage_text | safe }}
        </div>
        {% endif %}
    </header>
    <main>
        <hr>
        {% set entries = homepage.menu %}
        {% include "menu.njk" %}
    </main>
</body>
</html>
