<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}">

    {% if site.description %}
    <meta name="description" content="{{ site.description }}">
    {% endif %}

    <meta name="keywords" content="psychologist + open science advisor">
    <title>{{ title or site.title }}</title>

    <link rel="stylesheet" href="/css/css.css"> 
    {% if page.url == '/' %}
        <script>
            if(location.hash) window.location = `/admin/#${location.href.split("#").pop()}`
        </script>
    {% endif %}
</head>
<body>
    <header class="homepage-header">
        <h1>{{ .hompage-title or site-title }}</h1>
        {% if site.subtitle %}
            <h2 class="site-subtitle">{{ .homepage-subtitle }}</h2>
        {% endif %}

 {% if homepage.homepage_text %}
        <style>
            .homepage-text a {
                color: black;
                text-decoration: none;
            }
            
            .homepage-text a:hover {
                font-weight: bold;
            }

        </style>

        <div class="homepage-text">
            {{ homepage.homepage_text | safe }}
        </div>
    </header>

    <nav>
        {% set entries = site.navigation %}
        {% include "menu.njk" %}
    </nav>

    <main>
        {% if page.url == '/' %}
            <div class="homepage-content">
                {% if homepage.homepage_text %}
                    <div class="homepage-text">
                        {{ homepage.homepage_text | safe }}
                    </div>
                {% endif %}
            </div>
        {% else %}
            <h1>{{ title }}</h1>
            {{ content | safe }}
        {% endif %}

        <hr>
        {% set entries = homepage.menu %}
        {% include "menu.njk" %}
    </main>

    <footer>
        <!-- Add your footer content here -->
    </footer>
</body>
</html>
