
<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}">

    {% if site.description %}
    <meta name="description" content="{{ site.description }}">
    {% endif %}

    <meta name="keywords" content="psychologist + open science advisor">
    <title>{{ title or site.title }}</title>

    <link rel="stylesheet" href="/css/css.css"> 
    {% if page.url == '/' %}
        <script>
            if(location.hash) window.location = `/admin/#${location.href.split("#").pop()}`
        </script>
    {% endif %}

<!-- MailerLite Universal -->
<script>
    (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
    .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
    n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
    (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
    ml('account', '1044619');
</script>
<!-- End MailerLite Universal -->
</head>
<body>
    <header class="site-header">
        <h1>{{ homepage.title or site.title }}</h1>
        {% if site.subtitle %}
           <h2 class="homepage-subtitle">{{ homepage.subtitle }}</h2>
        {% endif %}
    </header>

    <nav>
        {% set entries = site.navigation %}
        {% include "menu.njk" %}
    </nav>

    <main>
        {% if page.url == '/' %}
            <div class="homepage-content">
                {% if homepage.homepage_text %}
                    <div class="homepage-text">
                        {{ homepage.homepage_text | safe }}
                    </div>
                {% endif %}
            </div>
        {% else %}
            <h1>{{ title }}</h1>
            {{ content | safe }}
        {% endif %}

        <hr>
        {% set entries = homepage.menu %}
        {% include "menu.njk" %}

{# {%- for section in collections.sections -%}
          {% include "_section.njk" %}
        {%- endfor -%} #}
    </main>
{% include "footer.njk" %}
</body>
</html>
