<footer data-layout="footer">
  <div class="ml-embedded" data-form="WnDFfA"></div>
  <p>
  &#169;2024 John P. Mills </p>
  <p>A work in progress made by me and built with <a href="https://www.11ty.dev/">Eleventy</a>.</p>
</footer>
