---
layout: base.njk
---
<header>
    <h1>{{ homepage.title or site.title }}</h1>

    {% if homepage.subtitle %}
        <h2 class="homepage-subtitle">{{ homepage.subtitle }}</h2>
    {% endif %}

    {% if homepage.homepage_text %}
        <div class="homepage-text">
            {{ homepage.homepage_text | safe }}
        </div>
    {% endif %}

{% if homepage.keywords %}
        <p>Keywords: {{ homepage.keywords }}</p>
    {% endif %}
</header>
<main>
    <hr>
    {% set entries = homepage.menu %}
    {% include "menu.njk" %}
</main>
