---
layout: base.njk
---
<header class="homepage-header">
    <h1>{{ homepage.title or site.title }}</h1>

    {% if homepage.subtitle %}
        <h2 class="homepage-subtitle">{{ homepage.subtitle }}</h2>
    {% endif %}

    {% if homepage.homepage_text %}
    <style>
        .homepage-text a {
            color: black;
            text-decoration: none;
        }
        .homepage-text a:hover {
            font-weight: bold;
        }
    </style>
    <div class="homepage-text">
        {{ homepage.homepage_text | safe }}
    </div>
    {% endif %}

    {% for menuSection in homepage.menu %}
        {% if menuSection.title == 'Selected Work' %}
            <div class="selected-work">
                <h3>{{ menuSection.title }}</h3>
                {% for entry in menuSection.entries %}
                    <div class="selected-work-entry">
                        <h4>{{ entry.title }}</h4>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
</header>
<main>
    <hr>
    {% set entries = homepage.menu %}
    {% include "menu.njk" %}
</main>
