---
layout: base.njk
---
<header class="homepage-header">
    <h1>{{ homepage.title or site.title }}</h1>

    {% if homepage.subtitle %}
        <h2 class="homepage-subtitle">{{ homepage.subtitle }}</h2>
    {% endif %}

    <div class="homepage-text">
        {{ homepage.homepage_text | safe }}
    </div>
</header>
<main>
    <hr>
    {% set entries = homepage.menu %}
    {% include "menu.njk" %}
</main>
